﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hello all!!<br />
    This assignment is fun<br />
    <abbr title="Phone">P:</abbr>
    6605280116
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s528141@nwmissouri.edu">s528141@nwmissouri.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
